<div class='fluid-content-wrapper p-m--t'>
  <h1 class='m-xl--b deco-header centered'>Past Events</h1>
  <% @events.map do |event| %>
    <%= render partial: 'event/card_past', locals: { event: event } %>
  <% end %>
  <%== pagy_nav @pagy %>
</div>
