.deco-header {
  border-bottom: 1px solid $color-ll-gray;
  line-height: 1.5;
  display: flex;
  justify-content: space-between;
  align-items: baseline;

  &.centered {
    text-align: center;
  }

  &.primary {
    color: $color-primary;
  }

  &__link {
    font-size: $font-size-l;
  }
}
