@mixin link-main($color) {
  color: $color;
  &:hover { color: $color-ddd-gray; }

  &.inverted {
    color: $color-ddd-gray;
    &:hover { color: $color; }
  }
}

.link {
  will-change: color;
  transition: color $link-anim-duration ease;

  &--primary {
    @include link-main($color-primary);
  }

  &--secondary {
    @include link-main($color-secondary);
  }

  &--success {
    @include link-main($color-success);
  }

  &--cancel {
    @include link-main($color-cancel);
  }
}
