@mixin padding-container($size) {
  &--a { padding: $size; }
  &--t { padding-top: $size; }
  &--b { padding-bottom: $size; }
  &--r { padding-right: $size; }
  &--l { padding-left: $size; }
  &--v {
    padding-top: $size;
    padding-bottom: $size;
  }
  &--h {
    padding-left: $size;
    padding-right: $size;
  }
}

@mixin margin-container($size) {
  &--a { margin: $size; }
  &--t { margin-top: $size; }
  &--b { margin-bottom: $size; }
  &--r { margin-right: $size; }
  &--l { margin-left: $size; }
  &--v {
    margin-top: $size;
    margin-bottom: $size;
  }
  &--h {
    margin-left: $size;
    margin-right: $size;
  }
}

// PADDINGS
.p-xxxxs {
  @include padding-container($size-xxxxs);
}

.p-xxxs {
  @include padding-container($size-xxxs);
}

.p-xxs {
  @include padding-container($size-xxs);
}

.p-xs {
  @include padding-container($size-xs);
}

.p-s {
  @include padding-container($size-s);
}

.p-m {
  @include padding-container($size-m);
}

.p-l {
  @include padding-container($size-l);
}

.p-xl {
  @include padding-container($size-xl);
}

.p-xxl {
  @include padding-container($size-xxl);
}

.p-xxxl {
  @include padding-container($size-xxxl);
}


// MARGINS
.m-xxxxs {
  @include margin-container($size-xxxxs);
}

.m-xxxs {
  @include margin-container($size-xxxs);
}

.m-xxs {
  @include margin-container($size-xxs);
}

.m-xs {
  @include margin-container($size-xs);
}

.m-s {
  @include margin-container($size-s);
}

.m-m {
  @include margin-container($size-m);
}

.m-l {
  @include margin-container($size-l);
}

.m-xl {
  @include margin-container($size-xl);
}

.m-xxl {
  @include margin-container($size-xxl);
}

.m-xxxl {
  @include margin-container($size-xxxl);
}
