h1, h2, h3 {
  color: $color-ddd-gray;
}

h1 {
  font-size: $font-size-xxxxl;
  font-weight: $font-weight-semibold;
}

h2 {
  font-size: $font-size-xxxl;
  font-weight: $font-weight-semibold;
}

h3 {
  font-size: $font-size-xxl;
  font-weight: $font-weight-semibold;
}

.text-cancel {
  color: $color-cancel;
}

.text-muted {
  color: $color-gray;
}

.text-success {
  color: $color-success;
}

.text-primary {
  color: $color-primary;
}

.text-secondary {
  color: $color-secondary;
}

.text-semibold {
  font-weight: $font-weight-semibold;
}

.text-bold {
  font-weight: $font-weight-bold;
}
