<div class='fluid-content-wrapper'>
  <div class='big-message'>
    <p class='header text-primary'>
      Howdy!
    </p>
    <p class='text'>
      To use the application you have to sign in using your Google account.
    </p>
    <div class='big-message__actions'>
      <%= link_to 'Sign in with Google', sign_in_path, class: 'btn btn--secondary' %>
    </div>
  </div>
</div>
