
<%= link_to new_event_path, class: 'event-card event-card--cta' do %>
  <div class='event-card--cta__gutter xs-hide'></div>
  <div class='event-card__tagging m-m--r'>
    <div class='event-card__circle'>
      <div class='event-card__circle__inner'>
        +
      </div>
    </div>
  </div>

  <div class='event-card__content'>
    <span class='event-card__title link--primary inverted'>Create new event</span>
  </div>
<% end %>
