.event-page {
  display: flex;
  flex-direction: column;

  &__data {
    float: left;
    display: flex;
    width: 100%;
    align-items: center;
    line-height: $card-header-height;

    &--condensed {
      line-height: 1.5;
      align-items: baseline;
    }

    label {
      font-size: $font-size-s;
      color: $color-gray;
      font-weight: $font-weight-semibold;
      width: 6 * $size-m;
      text-align: right;
      text-transform: uppercase;
      flex-shrink: 0;
    }

    span {
      padding-left: $size-m;
    }

    .event-name {
      font-size: $font-size-xxl;
      font-weight: $font-weight-semibold;
      line-height: $card-header-height;
    }

    .event-place {
      font-size: $font-size-l;
      font-weight: $font-weight-semibold;
      color: $color-dd-gray;
    }

    .event-datetime {
      font-weight: $font-weight-semibold;
    }

    .event-description {
      color: $color-dd-gray;
      font-style: italic;
    }
  }

  &__cta-wrapper {
    text-align: center;
  }
}
