$card-header-height: 40px;

.event-card {
  display: flex;
  margin-bottom: $size-m;

  &__tagging {
    float: left;
    display: flex;
    line-height: $card-header-height;
    position: relative;
  }

  &__content {
    flex-grow: 1;
  }

  &__date {
    font-size: $font-size-s;
    color: $color-gray;
    font-weight: $font-weight-semibold;
    width: 6 * $size-m;
    text-align: right;
  }

  &__title {
    font-size: $font-size-xxl;
    font-weight: $font-weight-semibold;
    line-height: $card-header-height;
    will-change: color;
    transition: color $link-anim-duration ease;
  }

  &__description {
    color: $color-d-gray;
  }

  &__circle {
    border-radius: 50%;
    width: $card-header-height;
    height: $card-header-height;
    background: $color-primary;
    line-height: $card-header-height;
    text-align: center;
    color: white;
    font-weight: $font-weight-bold;

    &__inner {
      width: 100%;
      height: 100%;
      border-radius: inherit;
    }

    .umi {
      font-size: $font-size-xxl;

      &--checkmark {
        font-size: $font-size-l;
      }
    }

    &:before {
      content: '';
      width: 2px;
      background: $color-ll-gray;
      top: ($card-header-height + 4px);
      bottom: -($size-m - 4px);
      position: absolute;
      right: $card-header-height / 2;
    }
  }

  .data-pair {
    margin-bottom: $size-xxxxs;
  }

  &:last-child &__circle:before {
    content: none;
  }
}

.event-card--cta {
  margin-left: 7 * $size-m;
  display: inline-flex;

  .event-card__title {
    will-change: color;
    transition: color $link-anim-duration ease;
  }

  .event-card__circle__inner {
    font-size: $font-size-xxl;
    will-change: color, border-color;
    transition: color $link-anim-duration ease, border-color $link-anim-duration ease;
  }

  &:hover {
    .event-card__title {
      color: $color-secondary;
    }

    .event-card__circle__inner {
      border-color: $color-secondary;
      color: $color-secondary;
    }
  }

  .event-card__title {
    color: $color-cancel;
  }

  .event-card__circle {
    background: none;

    &__inner {
      border: 2px solid $color-cancel;
      color: $color-cancel;
      line-height: $card-header-height - 4px;
    }
  }
}
