$labels-gutter-width: 10 * $size-m;

.simple_form {
  .input.string, .input.text {
    display: flex;

    label {
      flex: 0 0 $labels-gutter-width;
      text-align: right;
      padding-top: $size-s;
      font-weight: $font-weight-semibold;
      color: $color-dd-gray;
      margin-right: $size-m;
    }
  }

  input.string, textarea.text {
    font-size: $font-size-m;
    font-family: $font-family-base;
    border-radius: $btn-border-radius;
    border: 1px solid $color-page-bg-tint;
    padding: $size-s;

    &:active, &:focus {
      outline: none;
      border-color: $color-secondary;
    }
  }

  .input-content {
    margin-bottom: $size-m;
    display: flex;
    flex-direction: column;
    flex-grow: 1;

    .error {
      padding: $size-xxxs;
      border-radius: 0 0 $btn-border-radius $btn-border-radius;
      color: $color-error;
    }
  }

  &__actions {
    margin-left: $labels-gutter-width + $size-m;
  }
}
