.global-header {
  display: flex;
  background: $color-gamma;
  height: 58px;

  &__main {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
  }

  &__nav {
    &__link {
      color: $color-ll-gray;
      font-size: $font-size-s;
      font-weight: $font-weight-semibold;
      margin-left: $size-m;

      &:hover {
        color: $color-llll-gray;
      }
    }
  }

  .brand {
    color: $color-gamma-op;
    font-size: $font-size-xxl;
    font-weight: 800;
  }


  &--guest {
    background: $color-page-bg;
    border-bottom: 1px solid $color-l-gray;

    .brand {
      color: $color-ddd-gray;
    }
  }
}

@include screen-s {
  .global-header {
    position: relative;

    &__nav {
      align-items: center;
      background: $color-gamma;
      display: flex;
      flex-direction: column;
      left: 0;
      position: absolute;
      right: 0;
      top: 0;
      transform: translateY(-100%);
      transition: transform 0.4s ease;
      will-change: transform;
      z-index: 1000;

      &.active {
        transform: translateY(0%);
      }

      &__link {
        font-size: $font-size-l;
        line-height: 3;
        font-weight: $font-weight-regular;

        &:first-of-type {
          margin-top: $size-xxl;
        }

        &:last-of-type {
          margin-bottom: $size-xxl;
        }
      }

      &__close-wrapper {
        position: relative;
        width: 100%;

        &__close {
          position: absolute;
          right: $size-m;
          top: $size-m;

          &:before {
            color: $color-ll-gray;
            font-size: $font-size-xl;
          }
        }
      }
    }

    &__mobile-menu-trigger:before {
      font-size: 2 * $font-size-m;
      color: $color-ll-gray;
    }
  }
}
