$notification-icon-size: 28px;

.notification {
  border-radius: $btn-border-radius;
  border: 1px solid $color-page-bg-tint;
  background: white;
  padding: $size-s $size-m;
  font-weight: $font-weight-semibold;

  &:before {
    @extend .umi;
    font-size: $font-size-s;
    border-width: 2px;
    border-style: solid;
    border-radius: 50%;
    height: $notification-icon-size;
    width: $notification-icon-size;
    display: inline-block;
    line-height: $notification-icon-size;
    text-align: center;
    margin-right: $size-l;
  }

  &--in-form {
    display: block;
    margin-bottom: $size-l;
  }

  &--success {
    border-color: $color-success;
    color: $color-success;

    &:before {
      @extend .umi--checkmark;
      border-color: $color-success;
    }
  }

  &--notice {
    border-color: $color-dd-gray;
    color: $color-dd-gray;

    &:before {
      @extend .umi--place;
      border-color: $color-dd-gray;
    }
  }

  &--error {
    border-color: $color-error;
    color: $color-error;

    &:before {
      content: '!';
      font-size: $font-size-xl;
      font-weight: $font-weight-semibold;
      font-family: $font-family-base;
    }
  }
}
