// COLORS
$color-ddd-gray: #212121;
$color-dd-gray: #555;
$color-d-gray: #777;
$color-gray: #808080;
$color-l-gray: #c1c1c1;
$color-ll-gray: #dadada;
$color-lll-gray: #eaeaea;
$color-llll-gray: #f7f7f7;

$color-gamma: #181818;
$color-gamma-op: #dbe39a;

$color-page-bg: #f4f7f6;
$color-page-bg-tint: #f4f7f6;

// SPACINGS
$size-xxxxs: 4px;
$size-xxxs: 6px;
$size-xxs: 8px;
$size-xs: 10px;
$size-s: 12px;
$size-m: 16px;
$size-l: 20px;
$size-xl: 24px;
$size-xxl: 32px;
$size-xxxl: 42px;

// fonts
$font-family-base: 'Nunito Sans', 'Helvetica Neue', Helvetica, sans-serif;
$font-weight-regular: 400;
$font-weight-semibold: 700;
$font-weight-bold: 900;

$font-size-xs: 12px;
$font-size-s: 14px;
$font-size-m: 16px;
$font-size-l: 20px;
$font-size-xl: 24px;
$font-size-xxl: 28px;

// OTHER
$page-max-width: 820px;
