// COLORS
$color-ddd-gray: #212121;
$color-dd-gray: #555;
$color-d-gray: #777;
$color-gray: #949494;
$color-l-gray: #c1c1c1;
$color-ll-gray: #dadada;
$color-lll-gray: #eaeaea;
$color-llll-gray: #f0f0f0;

$color-gamma: #181818;

$color-page-bg: #f4f7f6;
$color-page-bg-tint: #e6e6e6;

$color-primary: #eb6657;
$color-secondary: #17a6b6;
$color-error: #ff6629;
$color-cancel: #bfbfbf;

$color-success: #4caf50;
$color-success-bg: #d9fbff;

// SPACINGS
$size-xxxxs: 4px;
$size-xxxs: 6px;
$size-xxs: 8px;
$size-xs: 10px;
$size-s: 12px;
$size-m: 16px;
$size-l: 20px;
$size-xl: 24px;
$size-xxl: 32px;
$size-xxxl: 42px;

// fonts
$font-family-base: 'Nunito Sans', 'Helvetica Neue', Helvetica, sans-serif;
$font-weight-regular: 400;
$font-weight-semibold: 700;
$font-weight-bold: 900;

$font-size-xs: 12px;
$font-size-s: 14px;
$font-size-m: 16px;
$font-size-l: 18px;
$font-size-xl: 20px;
$font-size-xxl: 22px;
$font-size-xxxl: 24px;
$font-size-xxxxl: 28px;

// OTHER
$page-max-width: 820px;
$btn-border-radius: 10px;
$link-anim-duration: 0.2s;
$datepicker-border-radius: 5px;
$screen-s: 900px;
$screen-xs: 650px;
