<header class='global-header'>
  <div class='fluid-content-wrapper'>
    <section class='global-header__main'>
      <a class='brand text-bold m-l--r' href='/'>Umawianko</a>
      <a class='header-link m-m--r push-right' href='/'>Events</a>
      <a class='header-link' href='/signout'>
        <%= "Sign out (#{current_user.name})" %>
      </a>
    </section>
  </div>
</header>
