<header class='global-header global-header--guest'>
  <div class='fluid-content-wrapper'>
    <section class='global-header__main'>
      <a class='brand text-bold m-l--r' href='/'>Umawianko</a>
    </section>
  </div>
</header>
