<!DOCTYPE html>
<html>
  <head>
    <title>Umawianko</title>    
    <%= render 'layouts/shared/stuff' %>
  </head>

  <body>
    <%= render 'layouts/global-header' %>
    <div class='outer-content-wrapper bg-tint p-xxxl--b'>
      <%= render 'layouts/notifications' %>
      <%= yield %>
    </div>
  </body>
</html>
